<template>
  <div>
    <div class="modal" :class="{ 'is-active' : this.isLoading }">
    <div class="modal-background"></div>
    <div class="modal-card">
        <section class="modal-card-body">
          <p>Loading products.  Please wait a moment.</p>
          <sub>Sorry, I ran out of time to include a fancy spinner.</sub>
        </section>
    </div>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue'

  export default {

    props: ["is-loading"],

    methods: {
      
    },

    computed: {
      
    }
  }
</script>