<template>
    <div id="product-table">
        <div class="tabs is-centered is-medium is-boxed">
            <ul>
                <li :class="{ 'is-active' : filters.colour === '' }" 
                    @click="resetFilters()"><a>All</a></li>

                <li v-for="colour in colours" :key="colour"
                    :class="{ 'is-active' : filters.colour == colour }">
                    <a @click="addColourFilter(colour)">{{ colour }}</a>
                </li>
            </ul>
        </div>
        <table class="table is-striped">
            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Title</th>
                    <th>SKU</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Product ID</th>
                    <th>Title</th>
                    <th>SKU</th>
                    <th>&nbsp;</th>
                </tr>
            </tfoot>
            <tbody>
                <tr v-for="product in filteredProducts" 
                    :key="product.id">

                    <td>
                        {{ product.id }}
                    </td>
                    <td>
                        {{ product.title }}
                        <span class="tag" 
                            v-if="product.colour"
                            :class="product.colour | colorize">{{ product.colour }}</span>
                    </td>
                    <td>
                        {{ product.sku }}
                    </td>
                    <td>
                        <router-link :to="'/product/' + product.id"
                         :id="product.id">View Details</router-link>
                    </td>
                </tr>
            </tbody>
        </table>
        <loading-modal :is-loading="isLoading"></loading-modal>
    </div>
</template>

<script>
    import loadingModal from './LoadingModal.vue';

    export default {
    
        data () {
            return {
                maxProductsPerPage: 100,
                filters: {'colour' : ''},
                colours: ["Lagoon", "Latte", "Willow", "Charcoal"],
            }
        },

        components : {
            loadingModal,
        },

        computed: {

            isLoading () {
                return this.$store.state.products.length > 1 ? false : true;
            },

            filteredProducts () {
                return this.$store.getters
                    .getProductsByFilters(this.filters)
                    .slice(0, this.maxProductsPerPage);
            }
        },

        mounted () {
            // Contact Store to Get All Products via Ajax
            this.$store.dispatch('getAllProducts'); 
        },

        methods: {
            addColourFilter(colour) {
                // Add filters to array in the form of 'product_attribute' => 'search_value'
                this.filters.colour = colour;
            },

            resetFilters() {
                this.filters.colour = "";
            }
        },

        filters: {

            // Convert colors to web friendly color names with bulma prefix.
            // This seemed like a good idea, until I realised I didn't know 
            // what half the colors actually were.
            colorize (value) {
                return "is-" + value.toLowerCase()
                    .replace(/[^A-Za-z0-9 ]/g,'') /* Remove unwanted characters, only accept alphanumeric and space */
                    .replace(/\s/g, "-"); /* Replace space with a '-' symbol */
            }
        }
        
    }
</script>
