<template>
  <div class="content">
    <router-link to="/">Back to Product List...</router-link>

    <hr>

    <h1 class="title">{{ this.product.title }}</h1>

    <p>SKU: {{ product.sku }}</p>

    <p>Price: &dollar;{{ product.current_price | formatCurrency }}</p>

    <p>Shopify Handle: {{ product.shopify_handle }}</p>

    <p>Part Group: {{ product.part_group }}</p>

    <p>Last Updated: {{ product.updated_at | formatHumanFriendlyDate }}</p>

    <hr>

    <router-link to="/">Back to Product List...</router-link>
  </div>
</template>

<script>
  import Vue from 'vue'

  export default {

    props: ["id"],

    computed: {
        product () {
            let id = parseInt(this.id);

            return this.$store.getters.getProductById(id);
        }
    },

    filters :{
        formatCurrency (value) {
            return new Intl.NumberFormat("en-US").format(value / 100);
        },

        formatHumanFriendlyDate (value) {
            var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };

            return new Date(value).toLocaleDateString("en-US", options);
        }
    }
  }
</script>