.navbar .navbar-brand {
    text-align: center;
    display: block;
    width: 100%;
}

.navbar .navbar-brand>.navbar-item,
.navbar .navbar-brand .navbar-link {
    display: inline-block;
}

.navbar-item {
    img {
        max-height: 4rem;
    }
}