.tag {
    &.is-charcoal {
        background-color: #34282C;
        color: #ffffff;
    }
    &.is-lagoon {
        background-color: #66cdaa;
        color: #000000;
    }
    &.is-willow {
        background-color: #9F5F46;
        color: #000000;
    }
    &.is-latte {
        background-color: #d2691e;
        color: #000000;
    }
}
